<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selected.inventory_dashboard.persistence.dao.StockRecordMapper">
  <resultMap id="BaseResultMap" type="com.selected.inventory_dashboard.persistence.entity.StockRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="opt_type" jdbcType="TINYINT" property="optType" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stock_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.selected.inventory_dashboard.persistence.entity.StockRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stock_record (item_id, quantity, opt_type, 
      operator, create_time, update_time
      )
    values (#{itemId,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, #{optType,jdbcType=TINYINT}, 
      #{operator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.selected.inventory_dashboard.persistence.entity.StockRecord">
    update stock_record
    set item_id = #{itemId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      opt_type = #{optType,jdbcType=TINYINT},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, item_id, quantity, opt_type, operator, create_time, update_time
    from stock_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, item_id, quantity, opt_type, operator, create_time, update_time
    from stock_record
  </select>
</mapper>